body {
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  text-align: center;
  font-family: 'Barlow Condensed';
}


.shadowbox{

  height: 50rem;
  width: 100rem;
  background: rgba(0,0,0, 0.6);
  position: relative;
  z-index: 1;
  top:-62rem;
  left: -2rem;
  padding: 15rem 0;
  display: none;
}
.rules{
  width: 25rem;
  height: 28rem;
  margin: auto;
  text-align: center;
  background-color: #fff;
  z-index: 1;
  border-radius: 1rem;

}

.rules-image{
  padding-top: 1rem;
}

.ruletitle{
  padding: 2rem 0 0 2rem;
  text-align: left;
  font-size: 2rem;
}


/* HEADING */
.grid-container-title {
  display: grid;
  grid-template-columns: auto auto;
  border: solid 3px hsl(217, 16%, 45%);
  border-radius: 15px;
  padding: 1rem;
  width: 40rem;
  margin: 3rem auto;
}

.title {
  text-align: left !important;
}

.score {
  border-radius: 15px;
  background-color: #fff;
  width: 7rem;
  text-align: center;
  margin-right: 0;
  justify-self: end;
}

.scoretitle {
  color: hsl(229, 64%, 46%);
  margin: 5% 0 0 0;
  font-weight: 600;
}

.scoreresult {
  color: hsl(229, 25%, 31%);
  font-size: 3rem;
  margin: 0;
}

.container-game {
  position: relative;
}

/* TRIANGLE */
.triangle {
  margin: 5rem 0;
}

.grid-container-game {
  margin: 5rem auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 30rem;
  background-image: url("images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.box-paper {
  padding: 18px 18px;
  border: 1px solid transparent;
  border-radius: 100%;
  width: 9rem;
  background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  /* POSITIONNING */
  position: relative;
  left: -2rem;
  top: -2rem;
}

.box-rock {
  padding: 18px 18px;
  border: 1px solid transparent;
  border-radius: 100%;
  width: 9rem;
  background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  left: -2rem;
  top: -2rem;
}

.box-scissors {
  padding: 18px 18px;
  border: 1px solid transparent;
  border-radius: 100%;
  width: 9rem;
  background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  /* POSITIONNING */
  position: relative;
  left: -3rem;
  top: 2rem;
}

.icon {
  background-color: #fff;
  box-shadow: inset 0px 10px 5px hsl(217, 16%, 45%);
  border-radius: 100%;
  padding: 2.5rem;
}

/* RESULT  */
.grid-container-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem 13rem;
  display: none;
}

.resultdiv {
  margin: auto 0;
}

.results {
  font-size: 3rem;
  color: #fff;
}

.play {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #fff;
  cursor: pointer;
  color: hsl(229, 25%, 31%);
  font-size: 14px;
  padding: 10px 50px;
  text-decoration: none;
}

.play:hover {
  background-color: transparent;
  color: #fff;
}

.picktitle {
  color: #fff;
  font-size: 1.5rem;
  margin: 2rem;
}

.box1, .box2 {
  height: 18rem;
  width: 18rem;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 100%;
}

.icon2 {
  background-color: #fff;
  box-shadow: inset 0px 10px 5px hsl(217, 16%, 45%);
  border-radius: 100%;
  padding: 5rem;
  width: 5rem;
}

.box-paper2 {
  padding: 30px 30px;
  border: 1px solid transparent;
  border-radius: 100%;
  width: 15rem;
  background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  display: none;
}

.box-rock2 {
  padding: 30px 30px;
  border: 1px solid transparent;
  border-radius: 100%;
  width: 15rem;
  background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  display: none;
}

.box-scissors2 {
  padding: 30px 30px;
  border: 1px solid transparent;
  border-radius: 100%;
  width: 15rem;
  background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  display: none;
}

/* ICON BUTTON */


#rules {
  text-align: right;
  margin: 2rem;
}

.rulebutton {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #fff;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  padding: 6px 24px;
  text-decoration: none;
}

.rulebutton:hover {
  background-color: #fff;
  color: hsl(229, 25%, 31%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 4rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
